@import "tailwindcss";

html, body {
  margin: 0;
  padding: 0;
  font-family: "Space Grotesk", sans-serif;
  background: #0a0a0a;
  color: #f3f4f6;
}


@layer utilities {


  @keyframes loading {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }


  @keyframes loading {
    0% {
      transform: translatex(-100%);
    }
    100% {
      transform: translatex(250%);
    }
  }

  .animate-loading-bar {
    animation: loading 0.8s ease-in;
  }
}

.reveal {
  oppacity: 0;
  transform: translateY(20px);
  transition: opacity 0.7s ease, transform 0.7s ease;
}

.reveal.visible {
  opacity: 1;
  transform: translateY(0);
}
