@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  margin: 0;
  padding: 0;
  font-family: "Space Grotesk", sans-serif;
  background: #0a0a0a;
  color: #f3f4f6;
}


@layer utilities {


  @keyframes loading {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }


  @keyframes loading {
    0% {
      transform: translatex(-100%);
    }
    100% {
      transform: translatex(250%);
    }
  }

  .animate-loading-bar {
    animation: loading 0.8s ease-in;
  }
}

.reveal {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.7s ease, transform 0.7s ease;
}

.reveal.visible {
  opacity: 1;
  transform: translateY(0);
}

.link-underline {
  border-bottom-width: 0;
  background-image: linear-gradient(transparent, transparent), linear-gradient(#fff, #fff);
  background-size: 0 3px;
  background-position: 0 100%;
  background-repeat: no-repeat;
  transition: background-size .5s ease-in-out;
}

.link-underline-black {
  background-image: linear-gradient(transparent, transparent), linear-gradient(#F2C, #F2C)
}

.link-underline:hover {
  background-size: 100% 3px;
  background-position: 0 100%;
}

@layer components {
  .navbar-element { 
    @apply text-gray-300 underline underline-offset-2 transition-all duration-300 
    ease-in-out hover:text-white hover:underline-offset-4;
  }
  .underline-effect {
    @apply relative transition-colors duration-300 
          after:absolute after:left-0 after:-bottom-1 after:h-[2px] after:w-0 
          after:bg-gradient-to-r after:from-blue-500 after:to-purple-500 after:transition-all 
          after:duration-300 hover:after:w-full;
  }
}
